// COLOUR VARIABLES
$primaryColour: #07A287;
$secondaryColour: #06d810;
$tertiaryColour: #FF0000;
$quaternaryColour: #000000;
$quinaryColour: #A7BFE8;
$senaryColour: #F5F6F8;
$septenaryColour: #08B498;
$accentColour: #FFFFFF;