// FOOTER STYLES STARTS HERE
footer {
    text-align: center;
    .tickerCarousel {
        margin-top: 100px;
        background: $quaternaryColour;
    }
    .tickerCell {
        width: 10%;
        color: $accentColour;
    }
    .wrapper {
        p {
            margin: 0;
        }
    }
}