// FOOTER STYLES STARTS HERE
footer {
    text-align: center;
    .tickerCarousel {
        margin-top: 40px;
        background: $quaternaryColour;
        border-block: 5px solid $primaryColour;
    }
    .tickerCell {
        width: 10%;
        color: $accentColour;
        padding: 1px 0;
        p {
            margin: 0;
        }
    }
    .wrapper {
        p {
            margin: 10px 0 0;
        }
    }
}