// FOOTER STYLES STARTS HERE
footer {
    text-align: center;
        .tickerCell {
            border: 1px solid black;
            width: 10%;
        }
        .wrapper {
            background: $primaryColour;
            p {
                margin: 0;
                padding: 32px 0;
            }
        }
    }