// MIXINS STARTS HERE
@mixin fontSize1($sizeValue) {
    font-size: $sizeValue;
    font-family: 'Odibee Sans', cursive;
}
@mixin fontSize2($sizeValue2) {
    font-size: $sizeValue2;
    font-family: 'Oswald', sans-serif;
}
// MIXINS ENDS HERE
// GLOBAL STYLES STARTS HERE
html {
    font-size: 125%;
}
body {
    background: linear-gradient(-45deg, #20a348, $accentColour, #23a6d5, $accentColour);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
h1, h3, p {
    text-transform: capitalize;
}
h2, h3 {
    text-align: center;
}
p {
    margin-bottom: 20px;
    @include fontSize2(1rem);
}
h1 {
    span {
        text-transform: uppercase;
    }
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style-type: none;
}
.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}
// GLOBAL STYLES ENDS HERE