// MIXINS STARTS HERE
@mixin fontSize1($sizeValue) {
    font-size: $sizeValue;
    font-family: 'Bebas Neue', cursive;
}
@mixin fontSize2($sizeValue2) {
    font-size: $sizeValue2;
    font-family: 'Oswald', sans-serif;
}
// MIXINS ENDS HERE
// GLOBAL STYLES STARTS HERE
html {
    font-size: 125%;
}
body {
    background: linear-gradient(-70deg, $quinaryColour, $accentColour,  $quinaryColour, $accentColour);
    background-size: 400% 400%;
    animation: gradientBG 15s ease-in-out infinite;

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
h1, h3, p {
    text-transform: capitalize;
}
h2, h3 {
    text-align: center;
}
p {
    margin-bottom: 20px;
    @include fontSize2(1rem);
}
h1 {
    span {
        text-transform: uppercase;
    }
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style-type: none;
}
.increase {
    color: $secondaryColour;
}
.decrease {
    color: $tertiaryColour;
}
.animationBounce {
    animation-iteration-count: infinite;
}
.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}
// PRELOADER STYLES OBTAINED FROM HERE https://loading.io/css/
// PRELOADER STYLES STARTS HERE
.preloader {
    div {
        display: block;
        position: absolute;
        width: 34px;
        height: 34px;
        margin-top: 10px;
        left: 45%;
        border: 8px solid $secondaryColour;
        border-radius: 50%;
        animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $secondaryColour transparent transparent transparent;
        @media(max-width: 1000px) {
            left: 48%;
        }
        @media(max-width: 1000px) {
            left: 46%;
        }
        &:nth-child(1) {
            animation-delay: -0.45s;
        }
        &:nth-child(2) {
            animation-delay: -0.3s;
        }
        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}
.preloader2 {
    @extend .preloader;
    div {
        top: 45%;
        height: 94px;
        width: 94px;
    }
}
.preloader3 {
    @extend .preloader;
    div {
        top: 0;
        left: 48%;
        @media (max-width: 1000px) {
            bottom: 0;
        }
    }
}
// Shake animation obtained from https://animista.net/play/attention/shake/shake-vertical
.shakeVertical {
	-webkit-animation: shakeVertical 5s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite both;
	        animation: shakeVertical 5s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite both;
}
.shakeVerticalReverse {
	-webkit-animation: shakeVerticalReverse 5s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite reverse both;
	        animation: shakeVerticalReverse 5s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite reverse both;
}
.ldsHourglass {
    display: inline-block;
    position: absolute;
    width: 80px;
    bottom: 50%;
    left: 50%;
    height: 80px;
    transform: translate(-50%);
}
.ldsHourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: $secondaryColour transparent $secondaryColour transparent;
    animation: ldsHourglass 1.2s infinite;
}
// KEYFRAMES STARTS HERE
@keyframes ldsHourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
@keyframes ldsRing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes shakeVertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    80% {
        -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
    }
    90% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    }
    @keyframes shakeVertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    80% {
        -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
    }
    90% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes shakeVerticalReverse {
    0%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(6px);
                transform: translateY(6px);
    }
    80% {
        -webkit-transform: translateY(4px);
                transform: translateY(4px);
    }
    90% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    }
    @keyframes shakeVerticalReverse {
    0%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(6px);
                transform: translateY(6px);
    }
    80% {
        -webkit-transform: translateY(4px);
                transform: translateY(4px);
    }
    90% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}


// KEYFRAMES ENDS HERE
// PRELOADER STYLES ENDS HERE
// FLICKITY STYLES STARTS HERE
.flickity-enabled {
    position: relative;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}
.flickity-prev-next-button {
    display: none;
}
.flickity-page-dots {
    display: none;
}
//FLICKITY STYLES ENDS HERE
// GLOBAL STYLES ENDS HERE