// HEADER STYLES STARTS HERE
header {
    background: $primaryColour; 
    padding: 20px 0;
    @media (max-width: 735px) {
        padding: 10px 0 30px;
    }
    .wrapper {
        display: flex;
        align-items: center;
        @media (max-width: 735px) {
            flex-direction: column;
        }
        .searchForm {
            max-width: 100%;
            position: relative;
        }
        h1 {
            @include fontSize1(2.4rem);
            margin: 0;
            flex: 1 0 auto;
        }
        .searchInput {
            @include fontSize2(0.9rem);
            position: relative;
            z-index: 10;
            box-shadow: 4px 3px $quaternaryColour;
            width: 350px;
            padding: 5px 0 5px 15px;
            border: none;
            color: $quaternaryColour;
            transition: box-shadow 0.1s ease-out, background 0.2s ease-in;
            @media (max-width: 735px) {
                background: $accentColour;
                color: $quaternaryColour;
            }
            @media (max-width: 530px) {
                width: 250px;
            }
            @media (max-width: 400px) {
                width: 225px;
            }
            &:focus {
                box-shadow: none;
            }
            &:focus + .submitButton {
                border: 1px solid $quaternaryColour;
            }
            &:focus ~ .suggestions {
                display: block;
            }
        }
        .submitButton {
            @include fontSize2(1rem);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
            border: none;
            background: $septenaryColour;
        }
        .noSuggestions {
            color: $quaternaryColour;
            padding: 1px;
        }
        .suggestions {
            @include fontSize2(1rem);
            display: none;
            background: $accentColour;
            position: absolute;
            max-height: 160px;
            overflow-y: auto;
            padding-left: 0;
            width: 100%;
            @media (max-width: 735px) {
                font-size: 0.8rem;
            }
            &:hover {
                display: block;
            }
        }
        .suggestions li {
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            span {
                &:nth-child(2) {
                    text-align: right;
                    font-size: 0.9rem;
                    opacity: 0.8;
                }
            }
        }
        .suggestions li:hover {
            background: $primaryColour;
            color: $accentColour;
        }
        .suggestions li:not(last-of-type) {
            border-bottom: 1px solid $quaternaryColour;
        }
        .noSuggestions {
            position: absolute;
            left: 10px;
            p {
                @include fontSize2(0.8rem);
                text-align: center;
                margin: 0;
            }
        }
    }   
}
.swal2-html-container {
    @media (max-width: 735px) {
        font-size: 1rem;
    }
}
//HEADER STYLES ENDS HERE