// HEADER STYLES STARTS HERE
header {
    background: $primaryColour; 
    background: -webkit-linear-gradient(to right, $quinaryColour, $primaryColour);
    background: linear-gradient(to right, $quinaryColour, $primaryColour);
    padding: 20px 0;
    border: 1px solid $quaternaryColour;
    .wrapper {
        display: flex;
        align-items: center;
        h1 {
            margin: 0;
            flex: 1 0 auto;
        }
        .searchInput {
            @include fontSize2(0.9rem);
            box-shadow: 4px 3px $quaternaryColour;
            width: 350px;
            border-radius: 5px;
            padding: 5px;
            border: none;
            color: $quaternaryColour;
            transition: box-shadow 0.1s ease-out;
            &:focus {
                box-shadow: none;
            }
        }
    }   
}
//HEADER STYLES ENDS HERE