main {
    ul {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        border: 1px solid black;
        padding-bottom: 50px;
    }
}
.preloader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    margin: 8px;
    border: 8px solid lightgreen;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: lightgreen transparent transparent transparent;
}
.preloader div:nth-child(1) {
    animation-delay: -0.45s;
}
.preloader div:nth-child(2) {
    animation-delay: -0.3s;
}
.preloader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus {
    outline: none;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
    display: none;
}

/* ---- page dots ---- */

.flickity-page-dots {
    display: none;
}