// MAIN STYLES STARTS HERE
main {
    h2 {
        @include fontSize1(2rem);
        margin: 0 0 50px;
        padding-top: 20px;
    }
    h3 {
        @include fontSize1(1.6rem);
        text-transform: uppercase;
        margin: 0;
        padding: 5px 0;
        background: $primaryColour; 
        background: -webkit-linear-gradient(to right, $quinaryColour, $primaryColour);
        background: linear-gradient(to right, $quinaryColour, $primaryColour);
        border: 1px solid $quaternaryColour;
        border-bottom: 0;
        letter-spacing: 5px;
    }
    ul {
        display: flex;
        justify-content: space-around;
        border: 1px solid $quaternaryColour;
        background: $accentColour;
        li {
            border: 1px solid $quaternaryColour;
            width: 100%;
            text-align: center;
            padding-bottom: 50px;
            position: relative;
        }
        p {
            margin: 0;
            &:nth-child(1) {
                font-size: 1.5rem;
            }
            &:nth-child(2){
                margin-top: 5px;
                font-size: 1.3rem;
            }
        }
    }
    .timeSeriesButtons {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        margin-top: 30px;
        button {
            @include fontSize2(1.6rem);
            background: none;
            border: 1px solid $quaternaryColour;
            padding: 5px 10px;
            box-shadow: -5px -5px $primaryColour, 5px 5px $quaternaryColour;
            text-transform: capitalize;
            transition: color 0.3s ease-in-out, text-shadow 0.5s ease-in, box-shadow 0.5s ease-in-out;
            &:hover {
                color: $primaryColour;
                box-shadow: none;
                text-shadow: 2px 2px $quaternaryColour;
            }
        }
    }
}
// MAIN STYLES ENDS HERE