// MAIN STYLES STARTS HERE
main {
    h2 {
        @include fontSize1(2rem);
        margin: 0 0 50px;
        padding-top: 20px;
        letter-spacing: 2px;
        @media (max-width: 1000px) {
            margin-bottom: 30px;
        }
        @media (max-width: 735px) {
            font-size: 1.6rem;
        }
        @media (max-width: 530px) {
            font-size: 1.4rem;
        }
    }
    h3 {
        @include fontSize1(1.8rem);
        margin: 0;
        padding-top: 5px;
        background: $primaryColour; 
        border-bottom: 0;
        letter-spacing: 2px;
        @media (max-width: 735px) {
            font-size: 1.5rem;
        }
        @media (max-width: 530px) {
            font-size: 1.3rem;
        }
        @media (max-width: 400px) {
            letter-spacing: 0;
        }
    }
    .timeSeriesContainer {
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 5px 5px $quaternaryColour;
    }
    ul {
        display: flex;
        justify-content: space-around;
        @media (max-width: 1000px) {
            flex-wrap: wrap;
        }
        li {
            background: $accentColour;
            width: 100%;
            text-align: center;
            padding-bottom: 50px;
            position: relative;
            @media (max-width: 1000px) {
                padding: 20px 0 50px;
                border-top: 1px solid $quaternaryColour;
            }
        }
        p {
            margin: 0;
            &:nth-child(1) {
                font-size: 1.4rem;
                @media (max-width: 735px) {
                    font-size: 1.2rem;
                }
            }
            &:nth-child(2){
                margin-top: 5px;
                font-size: 1.2rem;
                @media (max-width: 1000px) {
                    margin-top: 20px;
                }
                @media (max-width: 735px) {
                    font-size: 1rem;
                }
            }
        }
    }
    .timeSeriesButtons {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        margin-top: 30px;
        @media (max-width: 735px) {
            flex-direction: column;
            justify-content: initial;
        }
        button {
            @include fontSize2(1.6rem);
            background: $accentColour;
            border-radius: 5px;
            border: none;
            padding: 5px 10px;
            box-shadow: -5px -5px $primaryColour, 5px 5px $quaternaryColour;
            text-transform: capitalize;
            transition: color 0.3s ease-in-out, text-shadow 0.5s ease-in, box-shadow 0.5s ease-in-out;
            @media (max-width: 735px) {
                margin: 30px auto;
                width: 50%;
                font-size: 1.4rem;
            }
            &:hover,
            &:focus {
                box-shadow: none;
                text-shadow: 2px 2px $quinaryColour;
            }
        }
    }
}
// MAIN STYLES ENDS HERE